!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Input Method set
URxvt.inputMethod:fcitx
!URxvt.imLocale:zh_CN.utf8
URxvt.imFont:Microsoft Yahei
URxvt.preeditType:Root

! window geometry set
URxvt.geometry: 90x25+180+200
URxvt.title:Rxvt

! bg transparent set
URxvt.inheritPixmap: true
URxvt.tintCddolor: white
URxvt.shading: 80

! Tab set
URxvt.perl-ext-common: default,tabbed
! URxvt.tabbed.tab-fg: 12
URxvt.tabbed.tab-fg: 14
URxvt.tabbed.tab-bg: 8
URxvt.tabbed.tabbar-fg: 4

Rxvt.menu:/etc/X11/rxvt.menu
Rxvt.preeditType:Root
Rxvt.transparency:255

! color setup
!xrdb.color0:Yellow
xrdb.color0:#eeeeee
xrdb.color1:Red

URxvt.depth:32

URxvt.background:#282A36
URxvt.foreground:#F8F8F2
URxvt.colorBD:Gray95
URxvt.colorUL:Green
URxvt.color0:#001100
URxvt.color1:Red2
URxvt.color4:RoyalBlue
URxvt.color5:Magenta2
URxvt.color8:Gray50
URxvt.color10:Green2
URxvt.color12:DodgerBlue
URxvt.color14:Cyan2
URxvt.color15:Gray95

! default web brower
URxvt.urlLauncher:/usr/bin/google-chrome-stable
URxvt.matcher.button:1
Urxvt.perl-ext-common:matcher

! scroll bar setting
URxvt.scrollBar:False
URxvt.scrollBar_floating:False
URxvt.scrollstyle:plain

! scroll screen setting
URxvt.mouseWheelScrollPage:True
URxvt.scrollTtyOutput:False
URxvt.scrollWithBuffer:True
URxvt.scrollTtyKeypress:True

! cursor splash
URxvt.cursorBlink:True
URxvt.saveLines:3000

! border setting
URxvt.borderLess:False

! font setting 这里的字体系统中一定要已经安装
URxvt.font:xft:Droid\ Sans\ Mono\ For\ Powerline:regular:size=14,xft:WenQuanYi Micro Hei Mono:regular:size=14:minispace=true

